<head>
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    </body>
    </html>
<link rel="stylesheet" href="{{ asset('styles/style.css')}}"/>
</head>
<header>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('listArticles') }}">Pokédex</a></li>
            <li><a href="{{ path('listCategories') }}">les éléments</a></li>
            <li><a href=>les ennemis</a></li>
            <li><a href=>le Monde de pokémon</a></li>
            <li>Blog</li>
        </ul>
    </nav>

    <p>this is the Start</p>

</header>
{% block content %}
{% endblock %}
{% block type%}
{% endblock %}
<footer>
    <p>this is the end</p>



</footer>