<head>
<link rel="stylesheet" href="../public/styles/style.css" />
</head>
<header>

    <nav>
        <ul>
            <li><a href=>pokédex</a></li>
            <li><a href=>les personnages</a></li>
            <li><a href=>les éléments</a></li>
            <li><a href=>les ennemis</a></li>
            <li><a href=>le Monde de pokémon</a></li>
            <li>Blog</li>
        </ul>
    </nav>

    <p>this is the Start</p>

</header>
{% block content %}
{% endblock %}
{% block type%}
{% endblock %}
<footer>
    <p>this is the end</p>



</footer>