
{% extends 'Base.html.twig' %}
{% block title %}Roulette{% endblock %}
{% block content %}
<main>
    <h2>Faites vos jeux!</h2>

    <div class="Roulette">
        <img  src="../public/img/colour_wheel_challenge__pokemon_by_lunodd_dg4tu8k-pre.png" alt="">
    </div>
</main>
{% endblock %}