
{% extends 'Base.html.twig' %}
{% block title %}Show{% endblock %}
{% block content %}
    <main>

            <h3>{{pokemon.name}}</h3>
            <p>{{ pokemon.description }}</p>
            <div class="pokekeke">
                <img src="{{pokemon.image}}">
            </div>

    </main>
{% endblock %}