{% extends 'Base.html.twig' %}
{% block title %}Roulette{% endblock %}
{% block content %}
    <main>
        <h1>Cliquez pour tentez de gagner votre pokémon</h1>
        <form  method= "get">
            <label>Entrez vôtre âge:</label>
            <input name="age" id="age" type="number"/></p>
            <button type="submit">Valider</button>

        </form>
    </main>
{% endblock %}